PORT=3100
DATABASE_URL=postgresql://user:password@localhost/db?sslmode=verify-full
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_SYNCHRONIZE=false
POSTGRES_LOGGING=false
